<div class="container">
    <div class="box login-box">
        <form class="form-login">
            <div class="row top-buffer">
                <fieldset class="form-group">
                    <div class="col-md-1 col-md-offset-3">
                        <label>Email:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control loginForm" name="email" ng-model="ctrl.email" required autofocus/>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="form-group">
                    <div class="col-md-1 col-md-offset-3">
                        <label>Password:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="password" class="form-control loginForm" name="password" ng-model="ctrl.password" required/>
                    </div>
                </fieldset>
            </div>
            <fieldset class="form-group">
                <input type="submit" class="btn btn-primary col-md-2 col-md-offset-5 top-buffer" ng-click="ctrl.login()" value="Login" />
            </fieldset>
        </form>
    </div>
</div>