<div class="box login-box">
    <form class="form-login">
        <h2 class="form-signin-heading">Please Login</h2>
        <fieldset class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control loginForm" name="email" ng-model="ctrl.email" required autofocus/>
        </fieldset>
        <fieldset class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control loginForm" name="password" ng-model="ctrl.password" required/> or <a ui-sref="user.register">Register</a>
        </fieldset>
        <fieldset class="form-group ">
            <input type="submit" class="btn btn-primary" ng-click="ctrl.login()" value="Login" />
        </fieldset>
        <button class="btn btn-success" ng-click="ctrl.go('home')">
            Back to Website</button>
    </form>

</div>