<div class="box">
    <form class="form-register" name="myForm">
        <h2>Please Register</h2>
        <fieldset class="form-group">
            <label>First Name:</label>
            <input type="text" class="form-control" name="firstName" ng-model="ctrl.firstName" required autofocus/>
        </fieldset>
        <fieldset class="form-group">
            <label>Last Name:</label>
            <input type="text" class="form-control" name="lastName" ng-model="ctrl.lastName" required autofocus/>
        </fieldset>
        <fieldset class="form-group">
            <label>Email Address:</label>
            <input type="email" class="form-control" name="newEmail" ng-model="ctrl.newEmail" required autofocus/>
        </fieldset>
        <fieldset class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control loginForm" name="password" ng-model="ctrl.newPassword" required/> or <a ui-sref="user.login">Login</a>
        </fieldset>
        <fieldset class="form-group ">
            <input type="submit" class="btn btn-primary" ng-click="ctrl.register()" value="Submit" />
        </fieldset>
    </form>
</div>