
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->

    <section id="company-information" class="padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
          <h2><strong>Where is the space located?</strong></h2>
            <div class="row">
                <div class="col-sm-6">
                    <img src="assets/images/aboutus/map.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 padding-top">
                    <h2>Makers Club resides in the Georgian College ChangeMaker Space of Georgian College.</h2>
                    <h2>This is located in E building of the Barrie Campus near the South-West stairway</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <h2><strong>Who are the Makers Executives?</strong></h2>

            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="assets/images/aboutus/adam.jpg" alt="">
                        </div>
                        <h1>Adam Sinclair</h1>
                        <h2>President</h2>
                        <a href="https://www.facebook.com/adam.ta.sinclair?fref=ts" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
                        <a href="https://ca.linkedin.com/in/adam-sinclair-48a396a5" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>

                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="assets/images/aboutus/amanda.jpg" alt="">
                        </div>
                        <h1>Amanda Field</h1>
                        <h2>Vice President</h2>
                        <a href="https://www.facebook.com/amanda.j.field" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
                        <a href="https://ca.linkedin.com/in/amandajfield7" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>


                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="assets/images/aboutus/mackenzie.jpg" alt="">
                        </div>
                        <h1>Mackenzie Boucher</h1>
                        <h2>Treasurer</h2>
                        <a href="https://www.facebook.com/profile.php?id=100008403547613&fref=ts" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
                        <a href="https://www.linkedin.com/in/mackenzie-boucher-6834b8b0" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </section>
