
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">About Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->

    <section id="company-information" class="padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
          <h2>Where is the space located?</h2>
            <div class="row">
                <div class="col-sm-6">
                    <img src="assets/images/aboutus/map.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 padding-top">
                    <p>Makers Club resides in the Changemaker Space of Georgian College.</p>
                    <p>This is located in E building of the Barrie Campus near the South-West stairway</p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <h2>Who are the Makers Executives?</h2>

            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="assets/images/home/icon1.png" alt="">
                        </div>
                        <h2>Adam Sinclair</h2>
                        <h3>President</h3>
                        <a href="https://www.facebook.com/adam.ta.sinclair?fref=ts" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        <a href="https://ca.linkedin.com/in/adam-sinclair-48a396a5" target="_blank"><i class="fa fa-linkedin-square"></i></a>

                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="assets/images/home/icon2.png" alt="">
                        </div>
                        <h2>Amanda Field</h2>
                        <h3>Vice President</h3>
                        <a href="https://www.facebook.com/amanda.j.field" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        <a href="https://ca.linkedin.com/in/amandajfield7" target="_blank"><i class="fa fa-linkedin-square"></i></a>


                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="assets/images/home/icon3.png" alt="">
                        </div>
                        <h2>Mackenzie Boucher</h2>
                        <h3>Treasurer</h3>
                        <a href="https://www.facebook.com/profile.php?id=100008403547613&fref=ts" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        <a href="https://www.linkedin.com/in/mackenzie-boucher-6834b8b0" target="_blank"><i class="fa fa-linkedin-square"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </section>
