<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Gallery</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery-section">
    <ul class="gallery" align="center" >
        <li class="thumbnails">
            <div  ng-repeat="image in ctrl.images">
            <img ng-click="ctrl.preview(image)" name="{{image.name}}" src="{{image.src}}" alt="" />
        </div>
    </li>
    </ul>
    <div class="preview" align="center">
        <img name="preview" src="{{ctrl.previewSrc}}" alt="" />
    </div>
</section>

</div>
<!-- Close the gallery div -->
