<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Gallery</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="gallery" align="center">
    <div class="thumbnails">
        <img onmouseover="preview.src=img1.src" name="img1" src="assets/images/gallery/img1.jpg" alt="" />
        <img onmouseover="preview.src=img2.src" name="img2" src="assets/images/gallery/img2.jpg" alt="" />
        <img onmouseover="preview.src=img3.src" name="img3" src="assets/images/gallery/img3.jpg" alt="" />
        <img onmouseover="preview.src=img4.src" name="img4" src="assets/images/gallery/img4.jpg" alt="" />
        <img onmouseover="preview.src=img5.src" name="img5" src="assets/images/gallery/img6.jpg" alt="" />

    </div>
</div>

<div class="preview" align="center">
    <img name="preview" src="assets/images/gallery/img6.jpg" alt="" />
</div>

</div>
<!-- Close the gallery div -->
