<!-- <section id="home-slider">
    <div class="container">
        <div class="row">
            <div class="main-slider">
                <div class="slide-text">
                    <h1>We Are Creative Nerds</h1>
                    <p>Boudin doner frankfurter pig. Cow shank bresaola pork loin tri-tip tongue venison pork belly meatloaf short loin landjaeger biltong beef ribs shankle chicken andouille.</p>
                </div>
                <div class="home-preview">
                    <img src="assets/images/gallery/img0.jpg" width="500px" class="slider-hill" alt="slider image">
                </div>
            </div>
        </div>
    </div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section> -->
<!--/#home-slider-->


<div class="slider-wrapper row">
    <div class="col-md-6">
        <img class="slider-img" name="{{ctrl.images[ctrl.sliderIndex]}}" ng-src="{{ctrl.images[ctrl.sliderIndex].src}}" alt="" />

    </div>
    <div class="col-md-6">

        <img class="siler-caption" name="makers-club" src="assets/images/makerstitle.png"></img>
</div>
</div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="assets/images/home/icon1.png" alt="">
                    </div>
                    <h2>Who are we?</h2>
                    <p>Members of the Makers Club carry many traits, although we are most noticed for; entrepreneurship, creativity, leadership and passion.</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="assets/images/home/icon2.png" alt="">
                    </div>
                    <h2>What do we do?</h2>
                    <p>At the Makers Club we focus on helping anyone with creative projects and entrepreneurial ideas. Whether that means building a 3D replica of a spaceship with wood, or starting your own business is up to you.</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="assets/images/home/icon3.png" alt="">
                    </div>
                    <h2>Where do we meet up?</h2>
                    <p>The Makers Club currently resides in the Georgian College ChangeMaker Space in room E212. You can check out a map of the college with our location marked, <a ng-click="ctrl.go('about')" title="Go to about page for the map">here</a> on our about page!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#services-->

<section id="action" class="responsive">
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="action take-tour">
                    <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h1 class="title">Want to learn more?</h1>
                        <p>Go view our about page for information about Makers Club members and execs, the Makers Space, and how to find us!</p>
                    </div>
                    <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="tour-button">
                            <a ng-click="ctrl.$state.go('about')" class="btn btn-common">ABOUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#action-->

<section id="features">
    <div class="container">
        <div class="row">
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="assets/images/home/image1.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Equipment</h2>
                    <P>In the Makers Space there is all kinds of cutting edge technology available for visitors use such as a couple 3D Printers and a Laser Cutter / Engraver. We also have monitors available for use aswell as Raspberry Pi's, Sphero's and many other gadgets that you are able to take out and tinker with!</P>
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Projects</h2>
                    <P>We like to call the Makers Space an "incubater" of amazing products from amazing people. To name a couple; a fully mechanical arm has been built with a full chest piece eventually being complete as an exo-skeleton aswell as some fancy toilet paper dispenser.</P>
                </div>
                <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="assets/images/home/image2.png" class="img-responsive" alt="">
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="assets/images/home/image3.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Resources</h2>
                    <P>The Makers Space has many resources to offer to anyone who comes in. Other students host peer seminars, on anything from version control with Git, to responsive web development. We also have peer tutoring available to anyone who needs help with their projects or tests.</P>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#features-->

<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <p><img src="assets/images/home/clients.png" class="img-responsive" alt=""></p>
                    <h1 class="title">Featured Gallery Images</h1>
                    <p>Just a few select images from the gallery featuring cool projects
                        <br> and fun events that have come through the Makers Space. </p>
                </div>
                <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="col-xs-3 col-sm-2" ng-repeat="image in ctrl.images">
                        <a ng-click="ctrl.$state.go('gallery')"><img src="{{image.src}}" class="img-responsive" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#clients-->
