<footer class="nav fixed-bottom">
    <div class="row">
        <div class="col-md-4">
            <p>Georgian College Makers Club
                <br> 1 Georgian Dr
                <br> Room E212
                <br> Barrie, ON L4M 3X9
            </p>
        </div>
        <div class="col-md-4 text-center">
            <p class="disclaimer">
                <a href="http:\\www.georgiancollege.ca" target="_blank"><img src="assets/img/gcLogo.png" alt=""></a>The information on this site is not official Georgian College material</p>
        </div>
        <div class="col-md-4 text-center">
            <p class="pull-right">
                <a class="fa fa-facebook-square fa-3x" href="https://www.facebook.com/gcmakers/" target="_blank"></a>
                <a class="fa fa-pinterest-square fa-3x" href="https://www.pinterest.com/gcmakers/cool-arduino-projects/" target="_blank"></a>
                <a class="fa fa-envelope-square fa-3x" href="mailto:makers@georgiancollege.ca" target="_top"></a>
            </p>
        </div>
    </div>
    <button class="fa fa-user pull-right" ng-click="ctrl.go('user.login')"></button>

</footer>

<!-- jQuery -->
<script src="assets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="assets/js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>