<div class="container">
    <div class="page-header">
        <h1>Admin Panel</h1>
<button class="btn btn-success" ng-click="ctrl.go('home')">
    View Website</button>
<button class="btn btn-danger" ng-click="ctrl.logout()">Logout</button>
<div ng-controller="DateTimeCtrl">

<h3>Next Meeting Time : <em>{{dt | date:'fullDate' }}</em> at <em>{{mytime | date:'shortTime' }}</em>
<a href ng-hide="ctrl.changeTime" ng-click="ctrl.changeTime=true">Change Time</a></h3>

<div class="jumbotron" ng-show="ctrl.changeTime">
<div class="box col-md-12">
    <form class="form-inline">

            <p class="input-group">

                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>

            </p>
            <uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>

            <input type="submit" value="Save" ng-click="ctrl.submitTime(dt,mytime)" class="btn btn-default">

        </div>

    </form>
</div>
</div>
</div>
<div class="box">
    <table class="table
">
        <tbody>

            <tr>
                <td>Home</td>
                <td>
                    <button ng-click="ctrl.go('home')">View</button>
                </td>
                <td>
                    <button ng-click="ctrl.go('admin.home')">Edit</button>
                </td>
            </tr>
            <tr>
                <td>About</td>
                <td>
                    <button ng-click="ctrl.go('about')">View</button>
                </td>
                <td>
                    <button ng-click="ctrl.go('admin.about')">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>




<div class="box">
    <button class="btn btn-success" ng-click="ctrl.getUploads()">
        pix</button>
    {{ctrl.img}}
</div>

    </div>
</div>
