<button class="btn btn-primary" ng-click="ctrl.go('admin.panel')">
    Go Back</button>
<button class="btn btn-danger" ng-click="ctrl.logout()">Logout</button>



<div class="box">
    <div class="page-header">
        <h1>Edit Home Page</h1>
    </div>
    <form>
        <div class="form-group">
            <label for="heading">Heading:
            </label>
            <input class="form-control" name="heading" value="{{ctrl.heading}}" required="">
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <textarea class="form-control" name="content" rows="3" cols="4"></textarea>
        </div>
        <form ng-submit="">
            <input ng-model='ctrl.file' type="file" id="file" name="img" />
            <button ng-click="ctrl.addImage()">Update</button>
            <div class="box">
                <h6>Preview:</h6>
                <img src="" height="300px">
            </div>
        </form>

        <input type="hidden" value="1">
        <input class="btn" type="submit" value="Update">
    </form>
</div>
