/* md */
@media only screen and (max-width : 1200px) {
  #home-slider .slide-text>h2{
  display: none;
}
}

/* sm */
@media only screen and (max-width : 992px) {

  h1{
    font-size: 25px;
  }

  #home-slider .slide-text>h2{
  display: none;
}

  #header .navbar-nav.navbar-right li {
    padding: 0;
  }

  #header .navbar-nav.navbar-right >li a {
    padding: 20px 10px;
  }

  #home-slider {
    margin-top: 30px;
  }

  #home-slider .main-slider {
    height: 250px;
  }

  #home-slider .slide-text {
    top: 0;
    width: 50%;
  }

  #home-slider .slider-hill {
    width: 400px;
  }

}


/* xs */
@media only screen and (max-width : 768px) {

  h1{
    font-size: 22px;
  }

  h2{
    font-size:20px;
  }
  #home-slider .slide-text>h2{
  display: none;
}
  #home-slider .slider-hill {
      position: absolute;
      max-width: 100%;
      bottom: 2em;
  }
  .padding{
    padding: 30px 0;
  }

  #header {
    padding-bottom: 40px;
    padding-top: 10px;
  }

  .social-icons.pull-right{
    float: left !important;
  }

  #header .navbar-inverse .navbar-toggle,
  #header .navbar-inverse .navbar-toggle:focus {
    border-color: #00aeef;
    margin-top: 15px;
    margin-right: 5px;
    outline: none;
  }

  .navbar-header .navbar-toggle .icon-bar {
    background-color: #00aeef;
  }

  #header .navbar-inverse .navbar-toggle:hover {
    background: #00aeef;
  }

  #header .navbar-inverse .navbar-toggle:hover .icon-bar {
    background: #fff;
  }

  .navbar-inverse .navbar-collapse {
    border-top: 0;
  }

  .navbar.navbar-inverse {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .social-icons ul li:first-child{
    padding-left: 0;
  }

  #header .navbar-nav.navbar-right li > a > i {
    display: inline-block;
    float: right;
    padding: 8px 10px 8px 30px
  }

  #header .navbar-nav.navbar-right li > a {
    padding: 10px 0;
  }

  #header .navbar-nav.navbar-right li > a:hover {
    border: none;
  }


  #home-slider {
    margin: 50px 20px;
  }

  #home-slider .main-slider {
    height: 500px;
  }

  #home-slider .slide-text {
    top: 0;
    width: 100%;
    text-align: center;
  }


  #home-slider .slider-hill {
    right: 50%;
    margin-right: -200px;
  }

  /*Pricing Table*/


  #action.responsive{
    height: 255px;
  }

  .action.take-tour{
    margin-top: -95px;
  }

  .action.take-tour .col-sm-7{
    width: 100%;
    text-align: center;
  }

  .action.take-tour .col-sm-5{
    width: 100%;
    margin-top: 120px;
  }

  .single-features {
    padding-bottom: 0;
    padding-top: 30px;
  }

  .single-features img {
    margin-bottom: 25px;
  }


  .single-features {
    text-align: center;
  }

  .single-features * {
    display: inline-block;
    text-align: center;
  }
}

@media only screen and (max-width : 480px) {
  #home-slider .slide-text>h2{
  display: none;
}
}
